/******************************************************************************
 * !!! Breakpoints !!!
 *****************************************************************************/
/******************************************************************************
 * !!! Colors !!!
 *****************************************************************************/
/******************************************************************************
 * !!! Typography !!!
 *****************************************************************************/
/* CONTENT ///////////////////////////////////////////////// */
.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: calc(100% - 300px);
}
.content .section {
  box-sizing: border-box;
  display: flex;
  padding: 65px 10%;
  width: 100%;
}
.content .section__title {
  border-left: 5px solid #54B689;
  font-size: 30px;
  margin-bottom: 45px;
  padding-left: 15px;
}
.content__about-figure {
  margin: 0 0 0 25px;
}
.content__about-image {
  max-width: 310px;
}
.content__about-title {
  font-size: 35px;
}
.content__about-subtitle {
  font-size: 25px;
  font-weight: 100;
  margin-bottom: 25px;
}
.content__about-paragraph {
  margin-bottom: 30px;
}
.content__about-button {
  background-color: #54B689;
  border: 2px solid #54B689;
}
.content__about-button:hover {
  background-color: #f7f7f7;
}
.content__about-link {
  color: #ffffff;
  display: block;
  font-weight: bold;
  min-width: 125px;
  padding: 10px 15px;
  text-decoration: none;
}
.content__about-link:hover {
  color: #54B689;
}
.content__about-link .icon-pdf {
  font-size: 18px;
  margin-right: 10px;
  vertical-align: top;
}
.content__experience {
  flex-direction: column;
}
.content__experience-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 45px;
}
.content__experience-text {
  background-color: #f7f7f7;
  box-sizing: border-box;
  padding: 25px;
  width: calc(100% - 265px);
}
.content__experience-company {
  color: #54B689;
  display: inline-block;
  font-size: 20px;
}
.content__experience-period {
  color: #847272;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
}
.content__experience-profession {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 10px;
}
.content__experience-description {
  font-size: 15px;
  line-height: 22px;
}
.content__experience-figure {
  width: 140px;
  height: 140px;
  margin: 0;
  background-repeat: no-repeat;
  background-position: center;
  padding: 15px;
  border-radius: 100%;
}
.content .compasso {
  background-image: url('../images/compasso-logo.png');
  background-size: 65%;
  border: 2px solid #3b4a78;
}
.content .agfox {
  background-image: url('../images/agfox-logo.png');
  background-size: 65%;
  background-color: #535353;
}
.content .mais-educacao {
  background-image: url('../images/mais-educacao-logo.png');
  background-size: 85%;
  border: 2px solid #5894bc;
}
.content .ideal-tecnologia {
  background-image: url('../images/ideal-tecnologia-logo.png');
  background-size: 85%;
  background-color: #070707;
}
.content .lojas-benni {
  background-image: url('../images/lojas-benni-logo.png');
  background-size: 85%;
  border: 2px solid #d4283a;
}
.content .imed {
  background-image: url('../images/imed-logo.png');
  background-size: 50%;
  border: 2px solid #685aa4;
}
.content .anhanguera {
  background-image: url('../images/anhanguera-logo.png');
  background-size: 90%;
  border: 2px solid #e74114;
}
.content .erico-verissimo {
  background-image: url('../images/erico-verissimo-logo.jpg');
  background-size: 90%;
  border: 2px solid #0199dc;
}
.content__skills {
  flex-direction: column;
}
.content__skills-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content__skills-primary {
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
  padding-bottom: 10px;
}
.content__skills-secondary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.content__skills-circle {
  width: 150px;
  margin: 0 0 20px 0;
  position: relative;
  text-align: center;
}
.content__skills-circle canvas {
  vertical-align: top;
}
.content__skills-circle-title {
  display: block;
  font-size: 17px;
  font-weight: bold;
  margin-top: 15px;
  text-transform: uppercase;
}
.content__skills-circle-title:before {
  content: attr(data-skills-title);
}
.content__skills-circle-percent {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  text-align: center;
  line-height: 40px;
  font-size: 40px;
}
.content__skills-circle-percent i {
  font-style: normal;
  font-size: 0.6em;
  font-weight: normal;
}
.content__skills-circle-percent:before {
  content: attr(data-percent-text);
}
.content__skills-line {
  margin-bottom: 25px;
  width: 48%;
}
.content__skills-title {
  display: block;
  margin: 10px;
  text-transform: uppercase;
}
.content__skills-title:before {
  content: attr(data-skills-title);
}
.content__skills-line-percent {
  background: #e5e5e5;
  border-radius: 20px;
  height: 35px;
  position: relative;
}
.content__skills-line-percent:before {
  background: #54B689;
  border-radius: 20px;
  color: #ffffff;
  content: attr(data-percent-text);
  font-weight: bold;
  line-height: 35px;
  text-align: center;
  position: absolute;
  width: var(--data-percent);
  height: 100%;
}
.content .footer {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.content .footer .section__title {
  margin-bottom: 35px;
}
.content .footer__list {
  display: flex;
  justify-content: center;
  margin: 55px auto;
}
.content .footer__list--item {
  margin: 0 15px;
}
.content .footer__list--link {
  border-radius: 100%;
  font-size: 45px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.content .footer__list--link:hover {
  color: rgba(0, 0, 0, 0.5);
}
.content .footer .icon-envelop {
  color: #f44336;
}
.content .footer .icon-skype {
  color: #1cb2e7;
}
.content .footer .icon-github {
  color: #000000;
}
.content .footer .icon-linkedin {
  color: #1a72b6;
}
.content .footer__list--label {
  color: #000000;
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 14px;
  font-style: italic;
  margin-top: 10px;
  text-align: center;
}
.content .footer__copyright {
  background: #ffffff;
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}
.content .footer__copyright .icon-heart {
  color: red;
  font-size: 22px;
  vertical-align: sub;
}
.content .section.footer {
  padding: 45px 0 0;
}
.content .icon-cheveron-up {
  border: 1px solid;
  color: #54B689;
  display: none;
  font-size: 30px;
  position: fixed;
  top: 90%;
  right: 20px;
  text-decoration: none;
}
@media (max-width: 1200px) {
  .content .section {
    padding: 25px 20px;
  }
}
@media (max-width: 1024px) {
  .content {
    width: 100%;
  }
  .content__about-figure {
    margin: 25px auto;
  }
}
@media (max-width: 768px) {
  .content__about {
    flex-direction: column;
  }
  .content__about-image {
    max-width: 100%;
  }
  .content__about-button {
    width: 100%;
  }
  .content__experience-card {
    flex-direction: column;
  }
  .content__experience-text {
    margin-top: 10px;
    width: 100%;
  }
  .content__skills-secondary {
    flex-direction: column;
  }
  .content__skills-line {
    margin-bottom: 15px;
    width: 100%;
  }
  .content .footer__subtitle {
    margin: 0 20px;
    text-align: center;
  }
  .content .footer__list {
    flex-direction: column;
    margin: 40px auto 30px;
  }
  .content .footer__list--item {
    margin-bottom: 30px;
  }
  .content .footer__list--link {
    font-size: 50px;
  }
}
/* DARK MODE ///////////////////////////////////////////////// */
.dark-mode .section {
  border-bottom: 1px solid #1e2a3a;
}
.dark-mode .content__experience-text {
  background-color: #1e2a3a;
}
.dark-mode .content__experience-period {
  color: #b3b3b3;
}
.dark-mode .content__about-paragraph,
.dark-mode .content__experience-description {
  opacity: 0.7;
}
.dark-mode .content__about-button:hover {
  background-color: #111821;
}
.dark-mode .content__experience-figure {
  border: 0;
}
.dark-mode .compasso,
.dark-mode .lojas-benni,
.dark-mode .mais-educacao,
.dark-mode .imed,
.dark-mode .anhanguera,
.dark-mode .erico-verissimo {
  background-color: #ffffff;
}
.dark-mode .content__skills-primary {
  border-bottom: 1px solid #1e2a3a;
}
.dark-mode .content .footer__list--label {
  color: #ffffff;
}
.dark-mode .content .footer__list--link:hover {
  opacity: 0.7;
}
.dark-mode .content .footer .icon-github {
  color: #ffffff;
}
.dark-mode .content .footer__copyright {
  background: #111821;
  border-top: 1px solid #1e2a3a;
  color: #ffffff;
}

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon/icomoon.eot?v2lvin');
  src: url('../fonts/icomoon/icomoon.eot?v2lvin#iefix') format('embedded-opentype'), url('../fonts/icomoon/icomoon.ttf?v2lvin') format('truetype'), url('../fonts/icomoon/icomoon.woff?v2lvin') format('woff'), url('../fonts/icomoon/icomoon.svg?v2lvin#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-cheveron-up:before {
  content: "\e902";
}
.icon-menu:before {
  content: "\e900";
}
.icon-pdf:before {
  content: "\f1c1";
}
.icon-code:before {
  content: "\f1c9";
}
.icon-envelop:before {
  content: "\f003";
}
.icon-user:before {
  content: "\f007";
}
.icon-github:before {
  content: "\f09b";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-suitcase:before {
  content: "\f0f2";
}
.icon-skype:before {
  content: "\f17e";
}
.icon-graduation:before {
  content: "\f19d";
}

/******************************************************************************
 * !!! Breakpoints !!!
 *****************************************************************************/
/******************************************************************************
 * !!! Colors !!!
 *****************************************************************************/
/******************************************************************************
 * !!! Typography !!!
 *****************************************************************************/
/* MENU HEADER ///////////////////////////////////////////////// */
.header {
  background: #54B689;
  box-sizing: border-box;
  color: #ffffff;
  padding: 25px;
  width: 300px;
  height: 100vh;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
}
.header__top {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}
.header__title {
  font-size: 24px;
  text-align: center;
}
.header__menu-hamburguer {
  border: 1px solid;
  display: none;
  font-size: 25px;
  padding: 5px 10px;
  position: absolute;
  top: 18px;
  z-index: 1;
}
.header__figure {
  width: 200px;
}
.header__image {
  border-radius: 100%;
  width: 100%;
}
.header__paragraph {
  font-size: 14px;
  text-align: center;
}
.header__list {
  display: flex;
  justify-content: center;
  margin: 25px auto;
}
.header__list--item {
  margin: 0 10px;
}
.header__list--link {
  background: #ffffff;
  border-radius: 100%;
  color: #54B689;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 35px;
  height: 35px;
}
.header__list--link:hover {
  opacity: 0.8;
}
.header__navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.header__navbar--list {
  margin: 0;
}
.header__navbar--item {
  margin-bottom: 15px;
}
.header__navbar--link {
  color: #ffffff;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  margin-left: 10px;
  text-decoration: none;
}
.header__navbar--link:hover {
  color: rgba(0, 0, 0, 0.5);
}
.header__navbar--icon {
  font-size: 16px;
  margin-right: 15px;
  text-align: center;
  width: 20px;
}
.header .switch {
  display: flex;
  flex-direction: column;
}
.header .switch__title {
  font-size: 20px;
  margin-bottom: 15px;
  text-align: center;
}
.header .switch__label {
  position: relative;
  display: block;
  width: 70px;
  height: 32px;
  margin: 0 auto;
}
.header .switch__input {
  opacity: 0;
  width: 0;
  height: 0;
}
.header .switch__input:checked + .switch__slider {
  border: 3px solid #ffffff;
}
.header .switch__input:checked + .switch__slider {
  border: 3px solid #ffffff;
}
.header .switch__input:focus + .switch__slider {
  box-shadow: 0 0 1px #ffffff;
}
.header .switch__input:checked + .switch__slider:before {
  background-color: #ffffff;
  -webkit-transform: translateX(36px);
  -ms-transform: translateX(36px);
  transform: translateX(36px);
}
.header .switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 3px solid rgba(255, 255, 255, 0.5);
  -webkit-transition: .4s;
  transition: .4s;
}
.header .switch__slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: .4s;
  transition: .4s;
}
.header .switch__slider--round {
  border-radius: 35px;
}
.header .switch__slider--round:before {
  border-radius: 50%;
}
@media (max-width: 1024px) {
  .header {
    height: auto;
    padding: 20px;
    position: relative;
    width: 100%;
  }
  .header__container-menu {
    display: none;
  }
  .header__menu-hamburguer {
    display: block;
  }
  .header .switch {
    flex-direction: row;
    margin: 0 auto;
    padding: 15px 0;
    width: 220px;
  }
  .header .switch__title {
    margin-bottom: 0;
  }
}
/* DARK MODE ///////////////////////////////////////////////// */
.dark-mode .header {
  background-color: #1e2a3a;
}
.dark-mode .header__navbar--link {
  opacity: 0.7;
}
.dark-mode .header__navbar--link:hover {
  color: #54B689;
  opacity: 1;
}
.dark-mode .header__list--link {
  background-color: #54B689;
  color: #ffffff;
}
.dark-mode .header .switch__input:checked + .switch__slider {
  border: 3px solid #54B689;
}
.dark-mode .header .switch__input:checked + .switch__slider:before {
  background-color: #54B689;
}

/******************************************************************************
 * !!! Breakpoints !!!
 *****************************************************************************/
/******************************************************************************
 * !!! Colors !!!
 *****************************************************************************/
/******************************************************************************
 * !!! Typography !!!
 *****************************************************************************/
body,
html {
  background: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  padding: 0;
}
button {
  border: 0;
  border-radius: 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 15px;
  padding: 0;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(84, 182, 137, 0.5);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
.main {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
@media (max-width: 1024px) {
  .main {
    flex-direction: column;
  }
}
.bg-gray {
  background-color: #f7f7f7;
}
.bg-white {
  background-color: #ffffff;
}
body.dark-mode {
  background-color: #111821;
  color: #ffffff;
}
body.dark-mode .bg-gray {
  background-color: #111821;
}
body.dark-mode .bg-white {
  background-color: #1e2a3a;
}

/******************************************************************************
 * !!! Breakpoints !!!
 *****************************************************************************/
/******************************************************************************
 * !!! Colors !!!
 *****************************************************************************/
/******************************************************************************
 * !!! Typography !!!
 *****************************************************************************/
