@import "variables.less";

/* CONTENT ///////////////////////////////////////////////// */
.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: ~"calc(100% - 300px)";

    .section {
        box-sizing: border-box;
        display: flex;
        padding: 65px 10%;
        width: 100%;

        &__title {
            border-left: 5px solid @color-two;
            font-size: 30px;
            margin-bottom: 45px;
            padding-left: 15px;
        }
    }
    &__about-figure {
        margin: 0 0 0 25px;
    }
    &__about-image {
        max-width: 310px;
    }
    &__about-title {
        font-size: 35px;
    }
    &__about-subtitle {
        font-size: 25px;
        font-weight: 100;
        margin-bottom: 25px;
    }
    &__about-paragraph {
        margin-bottom: 30px;
    }
    &__about-button {
        background-color: @color-two;
        border: 2px solid @color-two;

        &:hover {
            background-color: @color-six;
        }
    }
    &__about-link {
        color: @color-one;
        display: block;
        font-weight: bold;
        min-width: 125px;
        padding: 10px 15px;
        text-decoration: none;
    
        &:hover {
            color: @color-two;
        }
        .icon-pdf {
            font-size: 18px;
            margin-right: 10px;
            vertical-align: top;
        }
    }
    &__experience {
        flex-direction: column;
    }
    &__experience-card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 45px;
    }
    &__experience-text {
        background-color: @color-six;
        box-sizing: border-box;
        padding: 25px;
        width: ~"calc(100% - 265px)";
    }
    &__experience-company {
        color: @color-two;
        display: inline-block;
        font-size: 20px;
    }
    &__experience-period {
        color: @color-seven;
        display: inline-block;
        font-size: 14px;
        font-weight: normal;
    }
    &__experience-profession {
        font-size: 16px;
        font-weight: normal;
        margin-bottom: 10px;
    }
    &__experience-description {
        font-size: 15px;
        line-height: 22px;
    }
    &__experience-figure {
        width: 140px;
        height: 140px;
        margin: 0;
        background-repeat: no-repeat;
        background-position: center;
        padding: 15px;
        border-radius: 100%;
    }
    .compasso {
        background-image: url('../images/compasso-logo.png');
        background-size: 65%;
        border: 2px solid #3b4a78;
    }
    .agfox {
        background-image: url('../images/agfox-logo.png');
        background-size: 65%;
        background-color: @color-eight;
    }
    .mais-educacao {
        background-image: url('../images/mais-educacao-logo.png');
        background-size: 85%;
        border: 2px solid #5894bc;
    }
    .ideal-tecnologia {
        background-image: url('../images/ideal-tecnologia-logo.png');
        background-size: 85%;
        background-color: #070707;
    }
    .lojas-benni {
        background-image: url('../images/lojas-benni-logo.png');
        background-size: 85%;
        border: 2px solid #d4283a;
    }
    .imed {
        background-image: url('../images/imed-logo.png');
        background-size: 50%;
        border: 2px solid #685aa4;
    }
    .anhanguera {
        background-image: url('../images/anhanguera-logo.png');
        background-size: 90%;
        border: 2px solid #e74114;
    }
    .erico-verissimo {
        background-image: url('../images/erico-verissimo-logo.jpg');
        background-size: 90%;
        border: 2px solid #0199dc;
    }
    &__skills {
        flex-direction: column;
    }
    &__skills-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__skills-primary {
        border-bottom: 1px solid @color-nine;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 30px;
        padding-bottom: 10px;
    }
    &__skills-secondary {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }
    &__skills-circle {
        width: 150px;
        margin: 0 0 20px 0;
        position: relative;
        text-align: center;

        canvas {
            vertical-align: top;
        }
    }    
    &__skills-circle-title {
        display: block;
        font-size: 17px;
        font-weight: bold;
        margin-top: 15px;
        text-transform: uppercase;

        &:before {
            content: attr(data-skills-title);
        }
    }
    &__skills-circle-percent {
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        text-align: center;
        line-height: 40px;
        font-size: 40px;

        i {
            font-style: normal;
            font-size: 0.6em;
            font-weight: normal;
        }
        &:before {
            content: attr(data-percent-text);
        }
    }
    &__skills-line {
        margin-bottom: 25px;
        width: 48%;
    }
    &__skills-title {
        display: block;
        margin: 10px;
        text-transform: uppercase;

        &:before {
            content: attr(data-skills-title);
        }
    }
    &__skills-line-percent {
        background: @color-nine;
        border-radius: 20px;
        height: 35px;
        position: relative;

        &:before {
            background: @color-two;
            border-radius: 20px;
            color: @color-one;
            content: attr(data-percent-text);
            font-weight: bold;
            line-height: 35px;
            text-align: center;
            position: absolute;
            width: var(--data-percent);
            height: 100%;
        }
    }
    .footer {
        display: flex;
        align-items: center;
        flex-direction: column;
        
        .section__title {
            margin-bottom: 35px;
        }
        &__list {
            display: flex;
            justify-content: center;
            margin: 55px auto;
        }
        &__list--item {
            margin: 0 15px;
        }
        &__list--link {
            border-radius: 100%;
            color: #54B689;
            font-size: 35px;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            text-decoration: none;

            &:hover {
                color: rgba(0, 0, 0, 0.5);
            }
        }
        &__list--label {
            color: @color-ten;
            display: block;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            font-size: 14px;
            font-style: italic;
            margin-top: 10px;
            text-align: center;
        }
        &__copyright {
            background: @color-one;
            color: @color-ten;
            font-size: 14px;
            font-weight: bold;
            padding: 10px 0;
            text-align: center;
            width: 100%;

            .icon-heart {
                color: red;
                font-size: 22px;
                vertical-align: sub;
            }
        }
    }
    .section.footer {
        padding: 45px 0 0;
    }

    .icon-cheveron-up {
        border: 1px solid;
        color: @color-two;
        display: none;
        font-size: 30px;
        position: fixed;
        top: 90%;
        right: 20px;
        text-decoration: none;
    }

    @media (max-width: @breakpoint-lg) {
        .section {
            padding: 25px 20px;
        }
    }

    @media (max-width: @breakpoint-md) {
        width: 100%;

        &__about-figure {
            margin: 25px auto;
        }
    }

    @media (max-width: @breakpoint-sm) {
        &__about {
            flex-direction: column;
        }
        &__about-image {
            max-width: 100%;
        }
        &__about-button {
            width: 100%;
        }
        &__experience-card {
            flex-direction: column;
        }
        &__experience-text {
            margin-top: 10px;
            width: 100%;
        }
        &__skills-secondary {
            flex-direction: column;
        }
        &__skills-line {
            margin-bottom: 15px;
            width: 100%;
        }
        .footer {

            &__subtitle {
                margin: 0 20px;
                text-align: center;
            }
            &__list {
                flex-direction: column;
                margin: 40px auto 30px;
            }
            &__list--item {
                margin-bottom: 30px;
            }
            &__list--link {
                font-size: 50px;
            }
        }
    }
}

/* DARK MODE ///////////////////////////////////////////////// */
.dark-mode {
    .section {
        border-bottom: 1px solid @color-eleven;
    }
    .content__experience-text {
        background-color: @color-eleven;
    }
    .content__experience-period {
        color: @color-five;
    }
    .content__about-paragraph, .content__experience-description {
        opacity: 0.7;
    }
    .content__about-button {
        &:hover{
            background-color: @color-twelve;
        }
    }
    .content__experience-figure {
        border: 0;
    } 
    .compasso, .lojas-benni, .mais-educacao, .imed, .anhanguera, .erico-verissimo {
        background-color: @color-one;
    }
    .content__skills-primary {
        border-bottom: 1px solid @color-eleven;
    }
    .content .footer__list--label {
        color: @color-one;
    }
    .content .footer__list--link {
        &:hover {
            color: @color-two;
            opacity: 0.7;
        }
    }
    .content .footer__copyright {
        background: @color-twelve;
        border-top: 1px solid @color-eleven;
        color: @color-one;
    }
}