@import "variables.less";

/* MENU HEADER ///////////////////////////////////////////////// */
.header {
    background: @color-two;
    box-sizing: border-box;
    color: @color-one;
    padding: 25px;
    width: 300px;
    height: 100vh;
}